<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&family=Indie+Flower&display=swap"
        rel="stylesheet" />

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="/css/style.css">
    
    <title>Zadanie zdalne e-MSI</title>
</head>

<body>

    <aside id="side-nav">
        <div class="side-nav-content">
            <div class="side-nav__content--logo">
                <img src="pictures/e_msi-logo-300x135.png" alt="logo">
            </div>
            <div id="lewy">
                <a href="/htmlElements">Rózne kontrolki HTML</a>
                <a href="/employees">Tabela Pracowników</a>
                <a href="/invoices">Tabela Faktur</a>
                <a href="/delegats">Tabela Delegacji BD</a>
                <a href="/clients">Dane Kontrahentów</a>
            </div>
        </div>
    </aside>

    <main class="main-content">
        <div id="prawy">          
                 {{{body}}}
        </div>
    </main>


   
</body>

</html>