<article class="employees_container">
  <h1>Employee</h1>
  <table id="employees" cellspacing="0">
    <tr>
      <th>Lp</th>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th>Stanowisko</th>
      <th>Data zatrudnienia</th>
      <th>Ilość dni urlopowych</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Maciej</td>
      <td>Nowak</td>
      <td>Pracownik</td>
      <td>31:12:2010</td>
      <td>20</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Maciej</td>
      <td>Nowak</td>
      <td>Pracownik</td>
      <td>31:12:2010</td>
      <td>20</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Maciej</td>
      <td>Nowak</td>
      <td>Pracownik</td>
      <td>31:12:2010</td>
      <td>20</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Maciej</td>
      <td>Nowak</td>
      <td>Pracownik</td>
      <td>31:12:2010</td>
      <td>20</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Maciej</td>
      <td>Nowak</td>
      <td>Pracownik</td>
      <td>31:12:2010</td>
      <td>20</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Maciej</td>
      <td>Nowak</td>
      <td>Pracownik</td>
      <td>31:12:2010</td>
      <td>20</td>
    </tr>

  </table>

  <div class="picker_container">
    <div>
      <input class="picker" type="color" id="btn_1" value="#e66465" />
      <label for="head">Pierwszy kolor</label>
    </div>

    <div>
      <input class="picker" type="color" id="btn_2" value="#f6b73c" />
      <label for="body">Drugi Kolor</label>
    </div>
  </div>

</article>

<script type="module" src="scripts/employes.js"></script>