*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

input{
  border-radius: 1px solid #fff;
}

.htmlElementsInput{
  width:90%;
  text-align: center; 
}

input[type='submit']{
  padding: 10px;
}

button{
  padding:5px;
  cursor: pointer;
}

a:link,
a:visited {
  text-decoration: none;
  /* //color: white; */
  /* font-size: 1.5rem; */
}

img {
  display: block;
  width: calc(10vw + 5vh);
  object-fit: cover;
}

body {
  display: flex;
  font-family: "Baloo Tamma 2";
}



/* **************** NAV - ASIDE SECTION****************** */

aside {
  width: 25vw;
  height: 100vh;
  padding: 5vw 1vh;

  display: flex;
  justify-content: center;
}

.side-nav-content {
  height: 95%;
}

.side-nav__content--logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lewy {
  padding: 5vh 0 10vh 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}

#lewy a {
  /* padding: 0.6rem 0.6rem;     */
  font-size: 2rem;
  margin: 2rem 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

/* ***************** MAIN SECTION */

h1{
  text-align: center;
}

main {
  width: 75vw;
  padding-top: 5vh; 
}



#prawy {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}



td input{
  width: 80%;
  box-sizing: border-box;
}

.htmlElements,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  outline: none;
}

.htmlElements label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  text-align: center;
}



.label_container {
  
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;  
}

.row{
    display: flex;    
}

.col-25{
    display: flex;
    flex-direction: row;
    width: 25%;
    margin-top: 6px;
    text-align: center;
    font-size: 1.5rem;
    justify-content:center;
    align-items: center;
}

.col-75{
    display: flex;
    flex-direction: row;
    width: 75%;
    margin-top: 6px;   
    
}

.row:nth-child(8){
    display: flex;
    justify-content: center;
    align-items: center;
}

.label_container ol{
  height:20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  margin:2vh 2vw;
  padding: 1vh 1vw;
  background-color: white;
}

.label_container li{
  margin:1vh 1vw;
  padding:1vh 1vw;
  border-bottom : 1px solid red;
  cursor: pointer;  
}

.color_selector{   
  width:90%;
}


/* ///////////////////////////////////// Employees ///////////////////////////////// */

.employees_container{
  padding:2vh 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;

}

#employees{
  text-align: center;
  padding: 0 .02vw;
  font-size: 1.5rem;
  background-color:#fff;
}


/* ///////////////////////////////// Invoices ////////////////////////////////////// */

.invoices_container{  
  padding:2vh 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  text-align: center;
  font-size: 1.1rem;

}

.invoiceRow td:nth-child(1){
  width:100px;
}

.invoiceRow td:nth-child(2){
  width:200px;
}

.invoiceRow td:nth-child(3){
  width:50px;
}

.invoiceRow td:nth-child(4){
  width:15%;
}

.invoiceRow td:nth-child(5){
  width:10%;
}

.invoiceRow td:nth-child(6){
  width:10%;
}
.invoiceRow td:nth-child(7){
  font-weight: bold;
  width:100px;
}
.invoiceRow td:nth-child(8){
  font-weight: bold;
  color: red;
  width:100px;
}
.invoiceRow td:nth-child(9){
  width:100px;
  font-weight: bold;
}

/* ///////////////////////////////// Delegats ////////////////////////////////////// */

.delegats_container{  
  padding:2vh 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  text-align: center;
  font-size: 1.1rem;

}


/* ///////////////////////////////// Clients ////////////////////////////////////// */


.clientSubmit{
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.first_col{
  display: flex;
  flex-direction:column;
}

.sec_col{
  display: flex;
  flex-direction:column;
}

.trd_col{
  display: flex;
  flex-direction:column;
  justify-content:space-evenly;
}

.vat{
  display: flex;
  justify-content: space-evenly;
}

td {
text-align: center
  
}