*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: 'Baloo Tamma 2',sans-serif;
  font-weight: 400;
}

html{
  font-size: 62.5%;
}

body{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 75%;  
}

h1{
  text-align: center;
  font-size: 4rem;
 
}
.prawy{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:75%;
}

.side-nav-content{  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
}

.side-nav__content--logo{
  padding:1rem 1rem;  
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
width:80%;
}

.lewy{
  height:80%;
  display: flex;
  flex-direction: column;  
  justify-content:space-evenly;
  align-items:center;
  flex-grow: 3;  
}



.a_container{
  margin: 3rem 0;
  font-size:2rem;
}

.label_container{
  padding: 1.5rem;
  width:90%;
  height:80vh;
  display: grid;  
  align-items: center;
  font-size:1.5rem;
}

.htmlElements{
  width:100%; 
  display: grid; 
  grid-template-columns: 50% 50%;
}

.firstGrid{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
}

.secondGrid{
  height: 100%;
}

textarea{
  width: 100%;
}



.select_row{
  display: flex;
  justify-content: space-evenly;
}

.label_container ol{
  display: flex;
  justify-content: space-evenly;
}

.employees_container{
  height: 100%;
  display: grid;
  justify-content:center;
  align-items: center;
  font-size: 1.5rem;
}

#employees{
  box-shadow: 0 5px 10px #000;
  background-color: white;
  text-align: left;
  overflow: hidden;
}

th{
  padding:2rem 1rem;
}

td{
  font-size: 1.2rem;
  padding:1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.picker_container{
  display: flex;
  justify-content: space-evenly;
}

.invoices_container{
  padding:1rem;
  height: 100%;
  display: grid;
  justify-content:grid;
  align-items: center; 
}

.invocesTable_header{
 font-size: 1.5rem;
 padding:1rem 2rem;
 text-transform: uppercase;
 letter-spacing: 0.1rem;
 font-weight: bold;
}

#invocesTable{
  box-shadow: 0 5px 10px #000; 
}

td{
  border-bottom: 1px solid #000;
}

.delegats_container{
  padding:1rem;
  height: 100%;
  display: grid;
  justify-content:grid;
  align-items: center;
  text-align: center; 
}

.delegats_table{
  border-collapse: collapse;
  margin-bottom: 10rem;
}

.delegats_table_header{
  text-align: center;
  font-size: 1.2rem;
  padding:1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.clients_container{
  display: grid;
  padding: 2rem;
}

.clients_container{
  display: grid;  
}

#clientsTable{
  border-collapse: collapse;
}

.clientsTable_header{
  text-align: center;
  font-size: 1.2rem;  
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.client_cell input{
  width:95%;
}

.clientBtnForm{
  margin-top: 3rem;
  display:grid;
  grid-template-columns: 1fr 1fr
}


.first_col{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:flex-end;
}

.first_col input{
  width:50%;
}

.sec_col{
  
  display:flex;  
  justify-content:flex-start;
  align-items: center;
}

.sec_col input{
  margin-left: 2rem;
  
}
 #submitBtn{
  width:50%;
}

.input_container{
  width:100%;
  display:flex;
  flex-direction:column;
  text-align:center;
  align-items:center;
}

.client_cell button{
  padding:0.5rem 1rem;
}

.clients_container h1{
  margin-top:3rem;
}